<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Unisuam
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Unisuam</ion-title>
    </ion-toolbar>
  </ion-header>


  <div class="container">
    <div class='main'>
      <img class='tokenImage' src="assets/img/Foto.jpg" alt="Foto" />
      <h2>Gabriel Moreira</h2>
      <p class='description'>Matricula:23101833 Turma:ADS0302M.</p>
      <div class='tokenInfo'>
      </div>
      <hr />
      <div class='creator'>
        <div class='wrapper'>
          <img src="assets/img/Unisuam-logo.png" alt="Creator" />
        </div>
        <p><ins>Avaliação Formadora</ins> I</p>
      </div>
    </div>
  </div>
</ion-content>
